<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员管理</title>
    <link rel="stylesheet" type="text/css" href="__ASTYLEURL__css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ASTYLEURL__css/main.css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script type="text/javascript" src="__ASTYLEURL__js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="common/top"}
<div style="margin: auto;float: left;width: 100%;margin-top: -10px;">
    {include file="common/left"}
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span
                    class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">管理员管理</a><span
                    class="crumb-step">&gt;</span><span>管理员列表</span></div>
        </div>


        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option>
                                    <option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text">
                            </td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>管理员</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>ID</th>
                            <th>管理员</th>
                            <th>密码</th>
                            <th>操作</th>
                        </tr>
                        {volist name='list' id='user'}
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>{$user.id}</td>
                            <td>{$user.username}</td>
                            <td>{$user.password}</td>
                            <td>
                                <a class="link-update" href="{:URL('admin/index/ad_update')}?id={$user.id}"
                                >修改</a>
                                {if condition="($user.id!=$adid)"}
                                <a class="link-del" href="{:URL('admin/index/del')}?id={$user.id}"
                                >删除</a>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <div class="list-page">{$list->render()}</div>
                </div>
            </form>
        </div>

    </div>
</div>


</body>
</html>