<!doctype html>
<html>
<head>
    <meta charset="UTF-8" lang="zh-cn">
    <title>后台登录</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
</head>
<body>
<div class="admin_login_wrap col-lg-4 col-lg-offset-4" style="margin-top: 80px;">
    <h1>后台管理</h1>
    <div class="adming_login_border">
        <div class="admin_input">
            <form action="{:url('admin/login/login')}" method="post">
                <ul class="admin_items">
                    <li>
                        <label for="user">用户名：</label>
                        <input type="text" name="username" value="" id="user" size="35" class="admin_input_style"/>
                    </li>
                    <li>
                        <label for="pwd">密码：</label>
                        <input type="password" name="password" value="" id="pwd" size="35" class="admin_input_style"/>
                    </li>
                    <br/>
                    <li>
                        <label for="pwd">验证码：<span><img style="cursor: pointer" src="{:captcha_src()}"
                                     onclick='this.src="{:captcha_src()}"'
                                                        alt="captcha"/></span></label>

                        <input type="text" name="captcha" value="" id="" size="35" class="admin_input_style"/>
                    </li>
                    <li>
                        <input type="submit" tabindex="3" value="提交" class="btn btn-primary"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>