<html wp-site wp-site-is-master-page>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://plugins.krajee.com/assets/6facb0ab/css/fileinput.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
    <script type="text/javascript" src="http://plugins.krajee.com/assets/6facb0ab/js/locales/zh.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.min.css" rel="stylesheet" type="text/css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/plugins/char_counter.min.css" rel="stylesheet"
          type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/plugins/emoticons.min.css" rel="stylesheet" type="text/css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.css"
    />
    <link href="http://www.getamaster.com/public/static/index/css/paper-dashboard.css" rel="stylesheet" type="text/css">

</head>

<body>
<include file="common/header" />

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-9">
                <div class="row article_warp">
                    <h2>{$activity.title}</h2>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Library</a>
                        </li>
                        <li class="active">Data</li>
                    </ul>
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="fr-element fr-view" dir="ltr" aria-disabled="false" style="min-height: 400px;" spellcheck="true">
                            {$activity.content}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a href="javascript:void(0)" id="like" onclick="like({$activity.id})" style="color: rgb(138,138,138);">
                                <i class="fa fa-heart fa-3x success" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div class="col-md-4">
                            <button id="enroll" onclick="enroll()" class="btn btn-success">报名</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h3>Column title</h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Column title</h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Column title</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="margin-bottom:40px;">
                            <form role="form" id="comment">
                                <div class="form-group">
                                        <textarea class="form-control" rows="12" name="content" style="max-width:910px;max-height:200px;">

                                    </textarea>
                                    <input type="hidden" name="activityId" value="{$activity.id}">
                                </div>
                                <div class="form-group">
                                    <button type="button" onclick="comment()" class="btn btn-success pull-right">评论
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section col-md-12 col-sm-12 col-xs-12 pad25" id="comment_list">
                        <volist name="comments" id="comment">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 pad25 fr-element fr-view">
                                    <div class="row" style="margin-bottom:20px;">
                                        <div class="col-xs-2 col-md-2 clearfix">
                                            <img class="img-circle" src="__MOROSELY_THUMB_PIC__{$comment.pic}" height="60" width="60" style="margin-top:20px;margin-left: 30px;"
                                            />
                                        </div>
                                        <div class="col-xs-10">
                                            <a href="">
                                                <h5>{$comment.username}</h5>
                                            </a>
                                            <p>
                                                <if condition="$comment.CTMoroselyName">
                                                    @<a href="">{$comment.CTMoroselyName}</a>
                                                </if>
                                                {$comment.content}
                                            </p>
                                            <a class="rep" style="margin-right:20px;" onclick="reply('{$comment.username}',{$comment.id},{$comment.activityId})" href="javascript:void(0);">
                                                <span class="glyphicon glyphicon-thumbs-up text-center">回复</span></a>
                                            <a style="margin-right:20px;">
                                                <span class="glyphiconglyphicon-thumbs-up text-center">回复</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </volist>
                        <div class="row">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <include file="common/morosely_face" />
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/froala_editor.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/languages/zh_cn.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>

    function floaraEd() {
        $('textarea').froalaEditor({
            toolbarButtons: ['fontFamily', 'emoticons'],
            toolbarButtonsMD: ['fontFamily', 'emoticons'],   //在大屏幕上显示内容
            toolbarButtonsSM: ['fontFamily', 'emoticons'],   //在中等屏幕上显示按钮
            toolbarButtonsXS: ['fontFamily', 'emoticons'],   //在小屏幕上显示按钮
            charCounterCount: true,    //计数器
            charCounterMax: 140,      //最大字数 -1 为不限制 默认不限制
            tooltips: true,
            pluginsEnabled: null,
            language: 'zh_cn',
            heightMin: 120
        });
        $('.fr-wrapper').next().remove();                   //简易破解富文本插件
    }

</script>
<script>
    $(function () {
        floaraEd();   //floara  编辑器
        if ($.cookie('love_activity_' + {$activity.id}) == 1) {  //设置点赞样式
            $('#like').css('color', '#ff5b62');
        }
        if ($.cookie('enroll_activity_' + {$activity.id}) == 1) {
            $('#enroll').text('已经报名').attr('onclick', 'javascript:void();');
        }
    });


    //todo 下面这段代码不兼容ie  你后面想办法把！
    function reply(moroselyName, comment_id, activityId) {
        var obj = document.activeElement;
        var reply_document = '<div class="col-xs-2"></div><div class="col-xs-10 pull-right fr-element fr-view">' +
            '<form role="form" id="reply_form">' +
            '<div class="form-group">' +
            '<textarea class="form-control input-sm" name="content" rows="10" style="max-width:730px;max-height:120px;">' +
            '</textarea>' +
            '<input type="hidden" name="activityId" value=' + activityId + '>' +
            '<input type="hidden" name="CTMoroselyName" value=' + moroselyName + '>' +
            '<input type="hidden" name="commentId" value=' + comment_id + '>' +
            '</div>' + '<div class="form-group">' +
            '<button type="button" onclick="reply_it()" class="btn btn-default pull-right clearfix">回复' +
            '</button>' + '</div>' + '</form></div>';
        var rep = document.createElement('div');
        if (document.getElementById('reply')) {
            document.getElementById('reply').remove();
        }
        rep.id = 'reply';
        rep.className = 'row';
        rep.innerHTML = reply_document;
        //        $(this).parent().parent().after(reply_document);
        //        alert('demo');

        obj.parentNode.parentNode.after(rep);
        floaraEd();
    }
    function comment() {
        $.post("{:url('index/activity/add_comment')}",
            $('#comment').serializeArray(),
            function (data, status) {
                if (status == 'success') {
                    create_comment_element(data);
                    document.getElementById('comment').reset();
                }
            }
        );
    }
    function reply_it() {
        $.post("{:url('index/activity/reply_comment')}",
            $("#reply_form").serializeArray(),
            function (data, status) {
                if (status == 'success') {
                    document.getElementById('reply').remove();
                    create_comment_element(data);
                }
            }
        );
    }
    function create_comment_element(data) {
        if (data.CTMoroselyName) {
            var come_to_morosely_name = '@' + data.CTMoroselyName;
        } else {
            var come_to_morosely_name = "";
        }
        var comment_document = '<div class="row">' +
            '<div class="col-md-12 col-sm-12 col-xs-12 pad25 fr-element fr-view">' +
            '<div class="row" style = "margin-bottom:20px;" >' +
            '<div class="col-xs-2 col-md-2 clearfix"><img class="img-circle" src="__MOROSELY_THUMB_PIC__' + data.moroselyPic +
            '" height="100" width="100" style="margin-top:5px;"/>' +
            '</div>' +
            '<div class="col-xs-10">' +
            '<a href=""><h4>' + data.moroselyName +
            '</h4></a>' +
            '<p>' + come_to_morosely_name + data.content + '</p>' +
            '<a style="margin-right:20px;" onclick ="reply(' +
            data.moroselyId + ',' +
            data.id + ',' +
            data.activityId +
            ')" href="javascript:void(0);">' +
            '<span class="glyphicon glyphicon-thumbs-up text-center">回复</span></a>' +
            '<a style="margin-right:20px;">' +
            '<span class="glyphiconglyphicon-thumbs-up text-center" >回复</span></a>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
        $("#comment_list").prepend(comment_document);
        swal('评论成功!', '', 'success');
    }

    function like(id) {
        if ($.cookie('love_activity_' + id) != 1) {
            $.post(
                "{:url('index/index/like_activity')}",
                { id: id },
                function (data, status) {
                    if (data.msg == '点赞成功！') {
                        $('#like').css('color', '#ff5b62');
                        $.cookie('love_activity_' + id, 1, { expires: 365 });
                        swal(data.msg, '', 'success');
                    }
                }
            );
        } else {
            swal('你已经赞过了哦!', '', 'error');
        }
    }

    function enroll() {
        if ($.cookie('enroll_activity_' + {$activity.id}) == '1') {
            $('#enroll').text('已经报名').attr('onclick', 'javascript:void();');
            return swal('该活动已报名', '', 'error');
        }
        swal.setDefaults({
            input: 'text',
            confirmButtonText: 'Next &rarr;',
            showCancelButton: true,
            animation: false,
            progressSteps: ['1', '2', '3']
        });

        var steps = [
            {
                title: 'Question 1',
                text: 'Chaining swal2 modals is easy'
            },
            {
                title: '手机号码',
                text: '仅作为活动主办方联系使用'
            },
            {
                title: '是否开车',
                text: '输入是或者否'
            }
        ];

        swal.queue(steps).then(function (result) {
            swal.resetDefaults();
            $.post(
                "{:url('index/activity/activity_enroll')}",
                {
                    data: JSON.stringify(result),
                    id: {$activity.id}
        },
            function (data) {
                if (data.error) {
                    //                        $('#like').css('color', '#ff5b62');
                    //
                    swal(data.error, '', 'error');
                    if (data.error == '该活动已报名！') {
                        $.cookie('enroll_activity_' + {$activity.id}, 1, { expires: 365 });
                        $('#enroll').text('已经报名').attr('onclick', 'javascript:void();');
                    }
                } else if (data == '1') {
                    $.cookie('enroll_activity_' + {$activity.id}, 1, { expires: 365 });
                    swal('报名成功！', '', 'success');
                    $('#enroll').text('已经报名').attr('onclick', 'javascript:void();');
                }
            }
            );
        }, function () {
            swal.resetDefaults()
        })
    }

</script>
</body>

</html>