<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员管理</title>
    <link rel="stylesheet" type="text/css" href="__ASTYLEURL__css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ASTYLEURL__css/main.css"/>
    <script type="text/javascript" src="__ASTYLEURL__js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="common/top"}
<div class="container clearfix">
    {include file="common/left"}
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span
                    class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">管理员管理</a><span
                    class="crumb-step">&gt;</span><span>管理员列表</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <form action="{:URL('admin/Friends/add_link')}" method="post" id="myform" name="myform"
                      enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th>链接名：</th>
                            <td><input class="common-text" name="link_name" size="50" value="链接名" type="text"></td>
                        </tr>
                        <tr>
                            <th>链接：</th>
                            <td><input class="common-text" name="link" size="50" value="http://www.baidu.com" type="url"></td>
                        </tr>
                        <tr>
                            <th>简介：</th>
                            <td><input class="common-text" name="description" size="50" value="" type="text"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
        <div class="result-content">
            <div class="list-page"> 1/1 页</div>
        </div>
    </div>

</div>
</div>


</body>
</html>