<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content=IE=EmulateIE6>
    <title>登陆页</title>



    <!--[if IE 6]>
    <script type="text/javascript" src="__ISTYLEURL__js/png.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.imgfix,.body');
    </script>
    <![endif]-->

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__ISTYLEURL__js/jquery.js"></script>


    <link rel="stylesheet" href="__ISTYLEURL__css/glbal.css">
    <link rel="stylesheet" href="__ISTYLEURL__css/style.css">



</head>
<body class="body" style="background: url('__ISTYLEURL__images/login_bg.png') no-repeat center top;background-size:cover;">
<div class="body-bg">
    <div class="main">
        <div class="head" style="zoom: 1;display: block;">
            <img class="imgfix" src="__ISTYLEURL__images/banner.png" alt="" />
        </div>
        <div class="content">
            <div class="main1L">
                <div class="formlogin">
                    <div class="warp">

                        <form role="form" action="{:url('index/index/login')}" method="post">
                            <h4 style="line-height:10px;margin-top:0;margin-bottom: 30px;">登&nbsp;&nbsp;录</h4>
                            <label for="tel">手机</label>
                            <br>
                            <input type="tel" class="form-control" id="tel" name="tel" placeholder="手机">
                            <br>
                            <label for="idcard">身份证号</label><br>
                            <input type="text" class="form-control" id="idcard" name="idcard" placeholder="身份证号"><br>
                            <button type="submit" style="width: 150px;background-color: #00a5e0;border: solid 0.5px lightslategray;margin-left:100px;height: 25px;margin-top: 10px;height: 30px;" class="">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
                            </button>
                            <br>
                            <div class="pull-right top10"><a href="{:url('index/index/index')}">首页</a></div>
                            <div class="pull-right top10"><a href="{:url('index/index/register')}">注册</a>&nbsp;</div>
                        </form>
                        <img src="__ISTYLEURL__images/erweima1.png" class="erwema1" style="margin-left: 200px;" alt="">
                        <div class="absolute" style="left:280px;bottom: 0; color: white ;font-size: 15px;background: none;_margin-bottom: -10px;margin-bottom: 10px;*margin-bottom:25px;width: 200px;">
                            <p style="margin-bottom: 10px;_line-height:5px;*line-height:18px;*height: 10px;_heigit:10px;*+margin-bottom: -10px;margin-left: 5px;*margin-left: 15px;">&nbsp;关&nbsp;注“心中有界”</p>
                            <p style="height: 5px;_line-height:15px;">登陆党纪党规测试系统</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-2"></div>-->
        <!--<div class="col-md-8">-->
            <!--&lt;!&ndash;<img src="__ISTYLEURL__images/banner.png" alt="" style="margin-top: 50px;width: 100%;height: auto;">&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-md-2"></div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class=" col-md-4"></div>-->
        <!--<div class="col-md-2" style="margin-top: 140px;">-->
            <!--<a href="">-->
                <!--<img class="pull-right" src="__ISTYLEURL__images/erweima1.png" alt="">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="panel panel-default" style="margin-top: 140px;">-->
                <!--<div class="panel-heading">登陆</div>-->
                <!--<div class="panel-body">-->
                    <!--<form role="form" action="{:url('index/index/login')}" method="post">-->
                        <!--<div class="form-group">-->
                            <!--<label for="tel">手机</label>-->
                            <!--<input type="tel" class="form-control" id="tel" name="tel" placeholder="手机">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="idcard">身份证号</label>-->
                            <!--<input type="text" class="form-control" id="idcard" name="idcard" placeholder="身份证号">-->
                        <!--</div>-->
                        <!--<br>-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4"></div>-->
                            <!--<div class="col-md-4">-->
                                <!--<button type="submit" class="btn btn-primary btn-block">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>-->
                            <!--</div>-->
                            <!--<div class="col-md-4"></div>-->
                        <!--</div>-->
                        <!--<div class="form-group"></div>-->
                    <!--</form>-->
                    <!--<div class="pull-right"><a href="{:url('index/index/index')}">首页</a></div>-->
                    <!--<div class="pull-right"><a href="{:url('index/index/register')}">注册&nbsp;&nbsp;</a></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4"></div>-->
    <!--</div>-->
<!--</div>-->
</body>

</html>
