<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://plugins.krajee.com/assets/6facb0ab/css/fileinput.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/267/g3ugugjp/area.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"></script>
    <script type="text/javascript" src="http://plugins.krajee.com/assets/6facb0ab/js/locales/zh.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img height="20" alt="Brand"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA81BMVEX///9VPnxWPXxWPXxWPXxWPXxWPXxWPXz///9hSYT6+vuFc6BXPn37+vz8+/z9/f2LeqWMe6aOfqiTg6uXiK5bQ4BZQX9iS4VdRYFdRYJfSINuWI5vWY9xXJF0YJR3Y5Z4ZZd5ZZd6Z5h9apq0qcW1qsW1q8a6sMqpnLyrn76tocCvpMGwpMJoUoprVYxeRoJjS4abjLGilLemmbrDutDFvdLPx9nX0eDa1OLb1uPd1+Td2OXe2eXh3Ofj3+nk4Orl4evp5u7u7PLv7fPx7/T08vb08/f19Pf29Pj39vn6+fuEcZ9YP35aQn/8/P1ZQH5fR4PINAOdAAAAB3RSTlMAIWWOw/P002ipnAAAAPhJREFUeF6NldWOhEAUBRvtRsfdfd3d3e3/v2ZPmGSWZNPDqScqqaSBSy4CGJbtSi2ubRkiwXRkBo6ZdJIApeEwoWMIS1JYwuZCW7hc6ApJkgrr+T/eW1V9uKXS5I5GXAjW2VAV9KFfSfgJpk+w4yXhwoqwl5AIGwp4RPgdK3XNHD2ETYiwe6nUa18f5jYSxle4vulw7/EtoCdzvqkPv3bn7M0eYbc7xFPXzqCrRCgH0Hsm/IjgTSb04W0i7EGjz+xw+wR6oZ1MnJ9TWrtToEx+4QfcZJ5X6tnhw+nhvqebdVhZUJX/oFcKvaTotUcvUnY188ue/n38AunzPPE8yg7bAAAAAElFTkSuQmCC">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-left navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li class="">
                    <a href="#">Contacts</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h1>发布文章</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Library</a>
                            </li>
                            <li class="active">Data</li>
                        </ul>
                    </div>
                </div>
                <form class="form-horizontal" role="form" name="article" action="{:url('index/ublog/add_article')}"
                      method="post">
                    <div class="form-group">
                        <label for="title" class="control-label   col-sm-2">标题</label>
                        <div class="col-sm-9">
                            <input type="hidden" id="id" name="id" class="form-control" placeholder="Placeholder text"
                                   value="{$blog.id}">
                            <input type="text" id="title" name="title" class="form-control"
                                   placeholder="Placeholder text" value="{$blog.title}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label   col-sm-2">简介</label>
                        <div class="col-sm-9">
                            <input type="text" id="description" name="description" class="form-control"
                                   placeholder="Placeholder text" value="{$blog.description}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="control-label   col-sm-2">内容 </label>
                        <div class="col-sm-9">
                                    <textarea typeof="text" id="content" name="content" class="form-control"
                                              style="height: 100px;" placeholder="相关详细信息">
                                        {$blog.content}
                                    </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label   col-sm-2"></label>
                        <div class="col-sm-2">
                            <button class="btn btn-success" formaction="{:url('index/ublog/modify_article')}"
                                    onclick="put()">确认修改
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#">
                            <img src="https://unsplash.imgix.net/photo-1416400453940-65c69d70ad91?w=1024&amp;q=50&amp;fm=jpg&amp;s=54806c1456b35f1d56ca356663d1bdd2"
                                 class="img-circle img-responsive">
                        </a>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <ol class="list-unstyled">
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                    <li>One</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <ol class="list-unstyled">
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                    <li>One</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>-->
<!-- Include Editor JS files. -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/froala_editor.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/image.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/code_beautifier.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/code_view.min.js"></script>-->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/languages/zh_cn.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/link.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/char_counter.min.js"></script>
<script> $(function () {
    $('textarea').froalaEditor({
        toolbarButtons: ['fullscreen', 'print', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'specialCharacters', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
        toolbarButtonsMD: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'color', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo', 'clearFormatting'],   //在大屏幕上显示内容
        toolbarButtonsSM: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'color', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo', 'clearFormatting'],   //在中等屏幕上显示按钮
        toolbarButtonsXS: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'color', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo', 'clearFormatting'],   //在小屏幕上显示按钮
        // Set the image upload URL.
        imageUploadMethod: 'post',
        imageManagerLoadURL: '',
        imageUploadURL: 'http://www.getamaster.com/index/getfiles/upload',
        // Set the image delete URL.
        imageManagerDeleteURL: 'http://www.getamaster.com/index/getfiles/delete',
        imageMultipleStyles: true,        //允许上传多文件；
        imageMaxSize: 1024 * 1024 * 3,   //最大图片大小
        charCounterCount: true,    //计数器
        charCounterMax: 3000,      //最大字数 -1 为不限制 默认不限制
        // videoDefaultDisplay: 'block',
        tooltips: true,
        pluginsEnabled: null,
        language: 'zh_cn',
        quickInsertButtons: ['image'],
        heightMin: 400
    })
}); </script>
<script>
    $(function () {
        $('.fr-wrapper').next().remove();                   //简易破解富文本插件
    });

    function save() {
        $.post("{:url('index/ublog/save_article')}", $('form').serializeArray(),
            function (data, status) {
                alert("数据: \n" + data + "\n状态: " + status);
            });
    }
    function put() {
        $.post("{:url('index/ublog/modify_article')}", $('form').serializeArray(),
            function (data, status) {
                if (status=='success'){
                    self.location="{:url('index/index/index')}";
                }
                alert("数据: \n" + data + "\n状态: " + status);
            });
        document.getElementsByName('form').action = "{:url()}";
        document.getElementsByName('form').type = 'submit';
        document.getElementsByName('form').submit();
    }
</script>

</body>
</html>











