<html>
<head>
    <meta name="keywords" content="免费领养  免费领养小狗 免费领养小猫">
    <meta name="description" content="中国第一个小动物公益网站">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <link href="http://www.getamaster.com/public/static/index/css/demo.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<body style="background-color:#eff3f5">
<include file="common/header" />
<include file="common/personal_top"/>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10" style="padding: 20px 0px;">
                <ul class="nav nav-tabs nav-tabs-lg">
                    <li role="presentation"><a href="{:url('index/morosely/my_blog')}">我的文章</a></li>
                    <li role="presentation" class="active"><a href="{:url('index/morosely/reply_me')}">评论</a></li>
                    <li role="presentation" class="pull-right"><button onclick="self.location ='www.baidu.com'" class="btn">
                        <a href="{:url('index/ublog/add_article')}">上传文章</a></button></li>
                    <!--<li role="presentation"><a href="{:url('index/morosely/my_keep_blog')}">收藏</a></li>-->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <volist name="list" id="list">
                    <div class="media" style="border-bottom: 1px solid darkgrey;padding: 20px 0px 10px;">
                        <if condition='$list.pic'>
                            <div class="media-left">
                                <a href="{:url('index/morosely/search_personalData')}?id={$list.moroselyId}">
                                    <div style="overflow: hidden;width: 70px;height: 70px;position: relative;">
                                        <img class="media-object img-circle" width="70px" height="70px" style="position: absolute;" src="__MOROSELY_THUMB_PIC__{$list.pic}" alt="">
                                    </div>
                                </a>
                            </div>
                        </if>

                        <div class="media-body" style="padding-left: 10px;">
                                <h5 class="media-heading">{$list.username} 在
                                    <a href="{:url('index/index/show_article')}?id={$list.articleId}" title="查看该文章">
                                        {$list.title}
                                    </a>
                                    中回复:</h5>
                                <div style="font-size: 14px;">
                                    <p class="fr-element fr-view">
                                        {$list.content}
                                    </p>
                                </div>
                        </div>
                        <if condition='$list.faceImage'>
                            <div class="media-right">
                                <a href="{:url('index/index/show_article')}?id={$list.articleId}" title="查看该文章">
                                    <div style="overflow: hidden;width: 120px;height: 90px;position: relative;">
                                        <img class="media-object auto_resp" style="position: absolute;" src="__FACE_THUMB_IMAGE__{$list.faceImage}" alt="">
                                    </div>
                                </a>
                            </div>
                        </if>
                    </div>
                </volist>
                <script>
                    $('.auto_resp').each(function () {
                        this.height='90';
                        var lf = -((this.width-120)/2);
                        $(this).css('margin-left',lf);
                    })
                </script>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 hidden-sm hidden-xs"></div>
        <div class="col-md-4">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    {$page}
                </ul>
            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs"></div>
    </div>
</div>
<include file="common/footer"/>
</body>
</html>