<form action="" id="form" method="post">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>真实姓名</label>
                <input type="text" class="form-control border-input" placeholder="姓名"
                       value="{$moroselyCore.trueName}" name="trueName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>身份证号</label>
                <input type="text" class="form-control border-input" placeholder="18位身份证号"
                       value="{$moroselyCore.idCard}" name="idCard">
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top:10px;">
        <button type="button" onclick="put()" class="btn btn-info btn-fill btn-wd">保存资料</button>
    </div>
</form>
