<!--个人资料小卡片-->
<div class="card card-user">
    <div class="image">
        <img src="https://ununsplash.imgix.net/photo-1421098518790-5a14be02b243?w=1024&amp;q=50&amp;fm=jpg&amp;s=24665881d66f79925810c2deb7e486b9" alt="">
    </div>
    <div class="content">
        <div class="author">
            <img class="avatar border-white" src="__MOROSELY_THUMB_PIC__{$morosely.pic}" alt="">
            <h4 class="title">{$morosely.username}<br>
                <a href="#"><small>{$morosely.company}</small></a>
            </h4>
        </div>
        <p class="description text-center">
            "{$morosely.maxim}"
        </p>
    </div>
    <hr>
    <div class="text-center">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h5>12<br><small>Files</small></h5>
            </div>
            <div class="col-md-4">
                <h5>2GB<br><small>Used</small></h5>
            </div>
            <div class="col-md-3">
                <h5>24,6$<br><small>Spent</small></h5>
            </div>
        </div>
    </div>
</div>
