<html wp-site wp-site-is-master-page>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.css"/>
    <link href="http://www.getamaster.com/public/static/index/css/demo.css" rel="stylesheet" type="text/css">
</head>
<body>
<include file="common/header"/>
<include file="common/personal_top"/>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10" style="padding: 20px 0px;">
                <ul class="nav nav-tabs nav-tabs-lg">
                    <li role="presentation" class="active"><a href="{:url('index/morosely/modify_personaldata')}">编辑资料</a></li>
                    <li role="presentation"><a href="{:url('index/morosely/show_personalData')}">个人资料</a></li>
                    <li role="presentation"><a href="{:url('index/morosely/modify_true_name')}">实名认证</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="padding: 30px 0">
            <div class="col-lg-offset-2 col-lg-8">
                <include file="common/personal_data/about_me"/>
            </div>
        </div>
    </div>
</div>
<include file="common/footer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"
        integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.js"></script>
<script>
    function put() {
        $('form').ajaxForm({
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    swal('保存成功', '', 'success');
                }else {
                    swal('保存失败','','error');
                }
            }
        });
        $('form').submit();
    }
</script>
</body>
</html>